In [ ]:
a=10
print(a)
print("a=",id(a))

b=10
print(b)
print("b=", id(b))

c=a
print(c)
print("c=", id(c))

10
a= 10751144
10
b= 10751144
10
c= 10751144

In [10]:
# positive slicing

s ="bangalore"

print(s[0:4])
print(s[1:4])
print(s[2:4])
print(s[0:4:1])
print(s[1:4:1])
print(s[0:4:2])
print(s[1:4:2])
print(s[2:4])

bang
ang
ng
bang
ang
bn
ag
ng

In [ ]:
print("welcome to Python world")

welcome to Python world

In [ ]:
print("Hello world")

Hello world

In [ ]:
2+3

5

In [ ]:
age = int(input("enter your age"))

if age >= 18:
  print("welcome to vote")
  print("you can vote")
else:
  print("you cannot vote")

print("Thank you")

enter your age19
welcome to vote
you can vote
Thank you

In [ ]:
# while loop

i = 5

while i<=50:
  print (i)
  i = i + 5

5
10
15
20
25
30
35
40
45
50

In [ ]:
# odd numbers 1 to 100
i = 1

while i<=100:
  print (i)
  i = i + 2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99